<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1030029053696-p8amnc1jm0hbha4s7ko09cl2vd0p005u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1030029053696-p8amnc1jm0hbha4s7ko09cl2vd0p005u</string>
	<key>API_KEY</key>
	<string>AIzaSyC1dJAzRSH9asuo4AKNNTPeNVrrEx2MsC0</string>
	<key>GCM_SENDER_ID</key>
	<string>1030029053696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-79aea</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-79aea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030029053696:ios:459b76f8d75a9274d9ede5</string>
</dict>
</plist>